// Import Element Plus theme
@use "element-plus/theme-chalk/src/index.scss" as *;

body {
  font-family: Inter, "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}

.header-title {
  color: var(--el-text-color-primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.form-card {
  width: 100%;
  margin: auto;
  padding: var(--el-card-padding);
  background-color: var(--el-bg-color);
  border-radius: var(--el-border-radius-base);
  box-shadow: var(--el-box-shadow-light);
}

@media (min-width: 640px) {
  .form-card {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .form-card {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  .form-card {
    max-width: 728px;
  }
}
@media (min-width: 1280px) {
  .form-card {
    max-width: 1024px;
  }
}
@media (min-width: 1536px) {
  .form-card {
    max-width: 1280px;
  }
}

.submit-container {
  & > div {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    gap: 1em;
  }

  & > div > a {
    color: var(--el-text-color-secondary);
    transition: color 0.3s ease;

    &:hover {
      color: var(--el-color-primary);
    }
  }
}

.password-validation {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
